# Eclipse metadata and settings
/.metadata/
/.settings/
/.project
/.classpath

# Build and dependency directories
/bin/
/target/

# Local IDE and OS-specific files
/.idea/
/.vscode/
*.iml
*.swp
*.DS_Store
*.log
*.tmp
Thumbs.db

# Java class files
*.class

# Mac OS specific files
**/.DS_Store

# Windows specific files
**/Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Ignore PDF files (if needed)
*.pdf

# Any additional directories or files you don't want to track
기타/
Java/*/.classpath
Java/*/.settings
Java/.classpath
Java/.metadata/
Java/.project
Java/.settings/
Java/*/.gitignore
Java/.settings/org.eclipse.jdt.core.prefs

Java/*/bin/